.about {
    background-color: rgb(199, 224, 233);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 20vw;
    &--title {
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }
    &--avatar {
        margin-bottom: 5rem;
        & img {
            border-radius: 50%;
            width: 10vw;
            transform: translate3d(0, 3rem, 0);
            opacity: 0;
            transition: all .3s ease-in-out;
        }
        & img.active {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
    &--skills {
        text-align: center;
        margin-top: 5rem;
    }
    &--skills > * {
        width: 10rem;
        padding: 1rem;
        @media only screen and (max-width: 1000px) {
            width: 5rem;
        }
    }
    &--intro {
        &--key {
            span{
                font-weight: bold;
                color: rgb(187, 84, 84);
            }
        }
        

        div {
            padding: 1rem;
            font-size: 1.8rem;
            h3,
            h4 {
                color: rgb(134, 133, 133);
                padding: .5rem 0;
            }
            span {
                font-weight: 300;
            }
        }
    }
}