.contact {
    background-color: lightcoral;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title {
        font-size: 3.2rem;
        font-weight: 700;
        padding: 5vh 0 3vh 0;
    }

    &--find {
        font-size: 2rem;
        display: flex;
        text-align: center;
        padding: 5vh 0;
        &--linkedin,
        &--github,
        &--email {
            padding: 0 2vh;
            img {
            width: 7rem;
            }
        }
    }

    &--footer {
        border-top: solid black .1rem;
        padding: 2rem 0 5rem 0;
        display: inline-block;
        p {
            font-size: 1.5rem;
        }
    }
}