.contact {
    height: 50vh;
    background-color: lightcoral;

    display: grid;
    grid-template-rows: 
        [out-start]
            minmax(1rem, .3fr)
            [title-start]
                minmax(3rem, .5fr)
            [title-end find-start]
                minmax(3rem, 2fr)
            [find-end foot-start]
                minmax(1rem, .5fr)
            [foot-end]
            minmax(1rem, .3fr)
        [out-end];
    grid-template-columns: 
        [full-start] 
            minmax(3rem, 1fr) 
            [contact-start]
                minmax(3rem, 2fr)
            [contact-end]
            minmax(3rem, 1fr)
        [full-start]; 

    

    &--title {
        grid-row: title-start / title-end;
        grid-column: contact-start / contact-end;
        justify-self: center;
        align-self: center;
    }

    &--find {
        grid-row: find-start / find-end;
        grid-column: contact-start / contact-end;
        justify-content: space-around;
        align-self: center;
        display: flex;
        text-align: center;

        &--linkedin img {
            width: 7rem;
        }
        &--github img {
            width: 7rem;
        }
        &--email img {
            width: 7rem;
        }
    }

    &--footer {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        text-align: center;
        border-top: solid black .1rem;
        width: 100%;
        padding-top: 3rem;
    }
    
}