.home {
    background-color: white;;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    &--main {
        div {
            text-align: center;
            margin-top: 15rem;
            .next {
                animation-name: next;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                color: #444444;
                text-decoration: none;
                font-size: 3rem;
                padding: 1rem 3rem;
                display: inline-block;
            }
        }
    }

    &--primary {
        font-weight: 700;
        font-size: 3.2rem;
        color: #444444;
    }

    &--secondary {
        display: block;
        color: #CCCCCC;
        font-size: 2rem;
        font-weight: 300;
        padding: .5rem 0 1rem 0;
        line-height: 1.3;
    }
}
