.projects {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title {
        height: 15vh;
        width: 80vw;
        text-align: center;
        padding-top: 7.5vh;
        font-size: 3.2rem;
        font-weight: 700;
    }

    &--p4,
    &--p3,
    &--p2,
    &--p1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 2rem 4rem 4rem;
        border: solid black .1rem;
        border-radius: 2rem;
        width: 60vw;
        margin-bottom: 3vh;
        color: #444444;

        @media only screen and (max-width: 1250px) {
            flex-direction: column;
            width: 80vw;
        }

        &--content{
            padding-right: 2rem;
            ul {
                font-size: 1.8rem;
                font-weight: 200;
                li {
                    padding-top: 1rem;
                }
            }
            div {
                padding-top: 3rem;
                font-size: 1.5rem;
                a {
                    margin-right: 2rem;
                    text-decoration: none;
                    border: #CCCCCC solid .2rem;
                    border-radius: 10px;
                    padding: .5rem;

                    &:hover {
                        background-color: rgb(164, 164, 165);
                    }

                    @media only screen and (max-width: 600px) {
                        display: inline-block;
                        margin-bottom: .5rem;
                    }
                }
            }

            @media only screen and (max-width: 1250px) {
                margin-bottom: 3rem;
            }
            
        }

        &--img {
            width: 30rem;
        }
        @media only screen and (max-width: 800px) {
            &--img {
                width: 40vw;
            }
        }
    }

    &--p4 {
        background-color: white;
        a {
            color: #444444;
        }
    }
    
    &--p2 {
        background-color: white;
        a {
            color: #444444;
        }
    }

    &--p1 {
        background-color: rgb(30, 50, 41);
        color: white;

        a {
            color: white;
        }
    }
}