.projects {
    height: 100vh;
    background-color: lightgoldenrodyellow;

    display: grid;
    grid-template-rows: 
        [out-start]
            minmax(1rem, .3fr)
            [title-start]
                minmax(3rem, .5fr)
            [title-end project-start]
                repeat(4, minmax(6rem, 1fr))
            [project-end]
            minmax(1rem, .3fr)
        [out-end];
    grid-template-columns: 
        [full-start] 
            minmax(3rem, 1fr) 
            [project-start]
                minmax(12rem, 4fr)
            [project-end]
            minmax(3rem, 1fr)
        [full-start];   
        
    &--tag {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: start;
        align-self: start;
    }

    &--title {
        grid-row: title-start / title-end;
        grid-column: project-start / project-end;
        justify-self: center;
        align-self: center;
    }

    &--p4 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;
    }
    &--p2 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;
    }
    &--p3 {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;
    }
    &--p1 {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;
    }
}